@import 'nib'
@import 'fez'
@import 'scrollbar'

global-reset()
fez-reset()


// Fonts
font_headers = "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif
font_accents = "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif

// Colors
primary = #F9F9F9 // background
accent = darken(primary, 60%) 
headers = #424B5C 
ghbg = #E8DEAD
clonebg = #E4DAD8
header = #aa0000


buttonbig = #A6AEBB
buttonsmall = #575639

body
  font 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color lighten(primary, 50%)

h1, h2, h3, h4
  font-family font_headers

a
  color #000
  text-decoration none

h1
  color header
  font-size 2.5em
  > a
    color #000
  &.section
    font-size 2em
    font-weight: bold
h3
  color accent
  font-size 2em
  margin-top 1em
  clearfix()
  > a
    color accent

h4
  font-size 1.5em

strong
  font-weight bold
pre
  background #fff

em
  font-style italic
  font-weight bold

header, section#content, footer
  width 740px
  margin-left 220px

.box-wrap
  margin-bottom 50px

.box, .box .antiscroll-inner
  max-height 340px
  width 140px

header
  clearfix()
  margin-top 50px
  h1
    font-size 65px
    margin 0
    padding 0
  .description
    color lighten(#000, 40%)
    margin-bottom 1.2em
    font-size 16px
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  .gh
    clearfix()
    background primary
    border 1px solid darken(primary, 20%)
    border-radius 5px
    padding 10px
    position relative
    min-height 90px
    h4
      text-shadow 1px 1px 0px #fff
      margin-bottom 10px
      color lighten(#000, 40%)
      #latestCommitURL
        font-size 11px
        margin-left 10px
    #commit
      font-size 10px
      margin-right 10px
      line-height 18px
      padding 0px 5px
      background lighten(primary, 70%)
      border-radius 3px
      float left
      color darken(primary, 30%)
      a
        color darken(primary, 30%)
        font-style italic
    #latestCommitMessage
      line-height 20px
      text-shadow 1px 1px 0px #fff
    #buttons
      margin-top 10px
      clearfix()
      .btn
        float left
    #links
      position absolute
      top 10px
      right 10px
      font-size 11px
      line-height 18px
      a
        color buttonbig
        padding 0px 10px
        &:hover
          text-decoration underline

section#content
  margin-top 50px
  margin-bottom 50px
  min-height 350px
  p
    a
      text-decoration underline

  h1
    padding-top 10px
    margin-top 10px
  h2
    padding-top 15px
    margin-top 25px
  p
    code
      padding 3px 5px
      background darken(primary, 5%)

article
  p
    padding 0px 0px 5px 0px
    margin 0

nav
  position fixed
  top 65px
  left 30px
  width 140px

  ul
    list-style none
    margin-bottom 50px
    li
      margin-left 0px
      margin-right 12px
      text-align right
      &.keepcase
        a
          text-transform none !important
      &.header
        font-weight bold
      a
        color lighten(#000, 40%)
        font-family font_accents 
        font-size 14px
        &:hover
          text-decoration underline
        &.section
          font-size 16px
          text-decoration none
          font-weight: bold
          color #000
footer
  margin-top 100px
  padding-top 25px
  margin-bottom 50px
  border-top 1px solid accent
  color lighten(#000, 50%)
  text-transform lowercase

a.download:active
  background-color rgba(0, 0, 32, 0.05)
  background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 32, 0.16)), to(rgba(0, 0, 32, 0.01)))
  background-image -moz-linear-gradient(rgba(0, 0, 32, 0.16), rgba(0, 0, 32, 0.01))
  box-shadow inset 0 2px 2px rgba(0,0,0,0.1)

a.download:hover
  color #202028
  background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 32, 0.01)), to(rgba(0, 0, 32, 0.16)))
  background-image -moz-linear-gradient(rgba(0, 0, 32, 0.01), rgba(0, 0, 32, 0.16))
  border-color #707078

a.download
  -webkit-user-select none
  background: white
  background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 32, 0.01)), to(rgba(0, 0, 32, 0.08)))
  background-image -moz-linear-gradient(rgba(0, 0, 32, 0.01), rgba(0, 0, 32, 0.08))
  -webkit-border-radius 6px
  -moz-border-radius 6px
  border-radius 6px
  color #202028
  padding 4px 10px
  border 1px solid #A8A8AF
  text-decoration none !important
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.9)
  font-size 14px
  line-height 19px
  font-family helvetica, arial, sans-serif
  display inline-block
  cursor pointer
  font-weight bold

canvas
  background-color #fff
  border 1px solid #E6E6E6
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px

@import 'code'
