@font-face{
  font-family:'Museo Sans 500';
  src: url('./MuseoSans_500.otf'); /* everyone else take this */
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Museo Sans 500';
}

.left, .right {
  height: 100%;
  overflow: auto;
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

.left .api {
  min-height: 1000px;
  border-right: 2px solid #eee;
  padding: 5px 10px 10px 10px;
}
